{% extends 'loginRegister.html.twig' %}
{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}
	<div class="login">
		<div class="side-img">
			<img src="{{ asset('build/images/login.webp') }}" width="auto" height="auto" alt="image du site">
		</div>
		<div class="login-div">
			<form method="post" class="login-form">
					{% for message in app.flashes('success') %}
						<div class="alert alert-success">
							{{ message }}
						</div>
					{% endfor %}
					{% if error %}
						<div class="alert alert-danger text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					3530
					{% endif %}
					<div class="title">
						<h2>Connexion</h2>
					</div>
					<div class="form-group">
						<label for="inputEmail">Adresse Email</label>
						<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
					</div>
					<div class="form-group">
						<label for="inputPassword">Mot de passe</label>
						<input type="password" name="password" id="inputPassword" class="form-control" required>
					</div>
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					<div class="text-center">
						<button class="btn-orange text-center" type="submit">
							Connexion
						</button>
					</div>
					<div class="text-center login-href">
						<p>Mot de passe oublié ?<a href="{{ path('app_forgot_password_request') }}">Cliquez-ici</a>
						</p>
						<p>Pas encore de compte ?
							<a href="{{ path('app_register') }}">Inscrivez vous ici</a>
						</p>
					</div>
			</form>
		</div>
	</div>
{% endblock %}
