{% extends 'loginRegister.html.twig' %}
{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}
	<div class="register">
		<div class="side-img">
			<img src="{{ asset('build/images/login.webp') }}" width="auto" height="auto" alt="image du site">
		</div>
		<div class="register-div">
			<div class="register-form">
				{% for flashError in app.flashes('verify_email_error') %}
					<div class="alert alert-danger" role="alert">{{ flashError }}</div>
				{% endfor %}
				<div class="title">
					<h2>Inscription</h2>
				</div>
				{{ form_start(registrationForm) }}
				<div class="form-row">
					<div class="form-group col-md-6 col-xs-12">
						{{ form_row(registrationForm.email, { 'label' : 'Adresse Email', 'attr' : {'placeholder' : 'Veuillez saisir votre email' }}) }}
					</div>
					<div class="form-group col-md-6 col-xs-12">
						{{ form_row(registrationForm.username, { 'label' : 'Pseudo', 'attr' : {'placeholder' : 'Veuillez saisir un pseudonyme' }}) }}
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6 col-xs-12">
						{{ form_row(registrationForm.password.first, { 'label' : 'Mot de passe', 'attr' : {'placeholder' : 'Veuillez saisir un mot de passe' }}) }}
					</div>
					<div class="form-group col-md-6 col-xs-12">
						{{ form_row(registrationForm.password.second, { 'label' : 'Répétez votre Mot de passe', 'attr' : {'placeholder' : 'Veuillez saisir un mot de passe' }}) }}
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6 col-xs-12">
						{{ form_row(registrationForm.firstname, { 'label' : 'Prénom', 'attr' : {'placeholder' : 'Veuillez saisir votre prénom' }}) }}
					</div>
					<div class="form-group col-md-6 col-xs-12">
						{{ form_row(registrationForm.lastname, { 'label' : 'Nom', 'attr' : {'placeholder' : 'Veuillez saisir votre Nom' }}) }}
					</div>
				</div>
				<div class="form-group">
					{{ form_row(registrationForm.address, { 'label' : 'Adresse', 'attr' : {'placeholder' : 'Veuillez saisir votre adresse' }}) }}
				</div>
				<div class="form-radio">
					{{ form_row(registrationForm.gender, { 'label' : 'Genre' }) }}
				</div>
				<div class="form-row">
					<div class="form-group col-md-6 col-xs-12">
						{{ form_row(registrationForm.city, { 'label' : 'Ville', 'attr' : {'placeholder' : 'Veuillez saisir votre ville' }}) }}
					</div>
					<div class="form-group col-md-6 col-xs-12">
						{{ form_row(registrationForm.zip, { 'label' : 'Code postal', 'attr' : {'placeholder' : 'Veuillez saisir le code postal' }}) }}
					</div>
				</div>
				<div class="form-group">
					{{ form_row(registrationForm.country, { 'label' : 'Pays' }) }}
				</div>
				<div class="form-group">
					{{ form_row(registrationForm.phone, { 'label' : 'Numéro de téléphone', 'attr' : {'placeholder' : 'Veuillez saisir votre numéro' }}) }}
				</div>
				<div class="form-group">
					{{ form_row(registrationForm.dateofbirth, { 'label' : 'Date de naissance' }) }}
				</div>
				<div class="form-group">
					{{ form_row(registrationForm.agreeTerms, { 'label' : 'Veuillez accepter les termes' }) }}
				</div>
				<div class="form-submit text-center btn-register-div">
					<button id="submit" type="submit" class="btn-orange">Inscription</button>
				</div>
				{{ form_end(registrationForm) }}
			</div>
		</div>
	</div>
{% endblock %}
