{% extends 'base.html.twig' %}

{% block body %}
    <div class="challenge-show">
		<div class="col-xs-12 col-md-6 mx-auto challenge-show-div">
			<div class="challenge-show-return">
				<a href="{{ path('app_user_session_challenges') }}"><i class="fa fa-arrow-left return-arrow"></i></a>
			</div>
			<div class="challenge-show-content">
				<div class="challenge-show-title">
					<h2>{{ challenge.name }}</h2>
				</div>
				<div class="challenge-show-img">
					<img src="{{ vich_uploader_asset(challenge, 'imageFile') }}" alt="img article">
				</div>
				<div class="challenge-show-description">
					<p>{{ challenge.description }}</p>
				</div>
				<div class="challenge-show-details">
					<p>Points : {{challenge.point}}</p>
                    <p>Lieu : {{challenge.location}}</p>
				</div>
				<div class="challenge-show-btn">
					<a href="{{ path('app_user_session_challenge_validation', {'slug':challenge.slug} ) }}" class="btn-black">Valider</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
