{% extends 'user.html.twig' %}



{% block body %}
    <div class="profile-group">
        <div class="col-md-6 col-xs-12 mx-auto">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <p><b>Espace Groupe</b></p>
            {% if app.user.groups is null %}    
                <div class="profile-group-div">
                    <h3>Vous êtes pas encore dans un groupe, rejoingnez l'aventure maintenant !</h3>
                    <div class="profile-group-btn">
                        <a class="btn-black" href="{{ path('app_create_group') }}">Créer un groupe</a>
                    </div>
                </div>
                {% else %}       
                    <div class="profile-group-div">     
                        <h3>{{ app.user.groups.name }}</h3>
                        <p>Score : {{ app.user.groups.score }}</p>
                        <p>Crée par  : {{ app.user.groups.owner }} le {{ app.user.groups.createdAt|date('d:m:Y') }}</p>
                        <div>
                            <p><b>Membre(s)</b></p>
                        </div>
                            <div>
                            <p><b>Inviter des membres</b></p>
                        </div>
                    </div>
                {% endif %}
        </div>
    </div>
{% endblock %}