{% extends 'base.html.twig' %}

 {% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <p>Create article</p>
   {{ form_start(formArticle) }}

        {{ form_row(formArticle.title, {'attr' : {'placeholder' : "Titre de l'article" }}) }}
        {{ form_row(formArticle.description, {'attr' : {'placeholder' : "Description de l'article" }}) }}
        {{ form_row(formArticle.image, {'attr' : {'placeholder' : "Image de l'article" }}) }}

        <button type="submit" class="btn btn-success">
            {% if editMode %}
                 Enregistrer les modifications
            {% else %}   
                Ajoutez l'article
            {% endif %}
        </button>

    {{ form_end(formArticle) }}
{% endblock %}