{% extends 'base.html.twig' %}

{% block body %}
    <div class="articles">
        <div class="articles-div col-xs-12 col-md-8 mx-auto">
				<div class="title">
					<h2>Article(s) :</h2>
				</div>
				<div>
					<p>Il y a {{ articles.getTotalItemCount }} articles au total</p>
				</div>
				{{ form_start(search_article_form) }}
					<p>Filtre</p>
					<div class="search-filter">
						{# {{ form(search_article_form, { 'label' : ' ' }) }} #}
						{% block form_row -%}
							<div class="form-group form-filter">
								{{- form_widget(search_article_form) -}}
							</div>
						{%- endblock form_row %}
						<button class="btn-orange" type="submit">Trier</button>
					</div>
				{{ form_end(search_article_form) }}
				{% for article in articles %}
					<article class="article">
						<div class="card">
							<div class="row">
								<div class="col-xs-12 col-md-4 mx-auto article-img">
									<img class="card-img" src="{{ vich_uploader_asset(article, 'imageFile') }}" width="200" height="200" alt="img article">
								</div>
								<div class="col-xs-12 col-md-8 mx-auto article-content">
									<h4 class="card-title">
										{{ article.title }}
									</h4>
									<p class="card-text">
										{{ article.content|slice(0, 200) }}
									</p>
								</div>
							</div>
							<div class="card-footer article-footer">
									<small class="text-muted">
										Publiée le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('h:i') }}
										<br>Catégorie :	{{ article.category.title }}
									</small>
									<a class="article-read" href="{{ path('article_show', {'slug':article.slug} ) }}">
										Lire l'article									
									</a>
								</div>
						</div>
					</article>
				{% endfor %}
				<div class="pagination">
					{{ knp_pagination_render(articles) }}
				</div>
        </div>
    </div>
{% endblock %}
        