{% extends 'base.html.twig' %}

{% block body %}
	<div class="article-show">
		<div class="col-xs-12 col-md-7 mx-auto article-show-div">
			<div class="article-show-content">
				<div class="article-show-title">
					<h2>{{ article.title }}</h2>
				</div>
				<div class="article-show-img">
					<img src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="img article">
				</div>
				<div class="article-show-description">
					<p>{{ article.content }}</p>
				</div>
				<div class="article-show-details">
					<p>Ecrit le
						{{ article.createdAt | date('d/m/Y') }}
						à
						{{ article.createdAt | date('h:m') }}
						dans la catégorie : {{ article.category.title }}
					</p>
				</div>
			</div>

			<div class="commentaires col-md-7 mx-auto">
				<h4>
					{{ article.comments | length}}
					Commentaire(s) :</h4>
				{% if article.comments is empty %}
					<p>Il n'y pas encore de commentaires pour cette article</p>
				{% endif %}
				{% for comment in article.comments %}
					<div class="comment">
						<div class="row">
							<div class="">
								{{ comment.author}}
								(<small>{{ comment.createdAt | date('d/m/Y à H:i')}}</small>)
							</div>
						</div>
						<div class="row">
							<div class="comment-show">
								<p>{{ comment.content }}</p>
							</div>
						</div>
					</div>
				{% endfor %}

				{% if app.user %}
					{{ form_start(commentForm) }}
						{{ form_row(commentForm.content, { 'label' : 'Commentaire:', 'attr': { placeholder: "Votre commentaire" }}) }}
						<button type="submit" class="btn-black">Commenter</button>
					{{ form_end(commentForm) }}
				{% else %}
					<p>Veuillez vous connecter afin de commenter cette article</p>
					<a href="{{ path('app_login') }}" class="btn-black">Connexion</a>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
