{% extends 'user.html.twig' %}

{% block body %}
    <div class="edit-profile">
        <div class="edit-profile-div">
            <div class="col-xs-12 col-md-5 mx-auto">
                <div class="edit-profile-title">
                    <h2>Modifications de vos données</h2>
                </div>
                {{ form_start(formEditUser) }}
                    <div>
                        {{ form_row(formEditUser.email, { 'label' : 'Adresse Email' }) }}
                    </div>
                    <div>
                        {{ form_row(formEditUser.username, { 'label' : 'Pseudonyme' }) }}
                    </div>
                    <div>
                        {{ form_row(formEditUser.address, { 'label' : 'Adresse' }) }}
                    </div>
                    <div>
                        {{ form_row(formEditUser.city, { 'label' : 'Ville' }) }}
                    </div>
                    <div>
                        {{ form_row(formEditUser.zip, { 'label' : 'Code postal' }) }}
                    </div>
                    <div>
                        {{ form_row(formEditUser.phone, { 'label' : 'Téléphone' }) }}
                    </div>
                    <div>
                        {{ form_row(formEditUser._token) }}
                    </div>
                    <div class="edit-profile-btn">
                        <button type="submit" class="btn-orange">Enregistrer les modifications</button>
                    </div>
                {{ form_start(formEditUser) }}
            </div>
        </div>
    </div>
{% endblock %}